Repository mrkirby153/bambu-spoolman: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-imports, biome-format

lefthook.yml:

pre-commit:
  commands:
    ruff-imports:
      glob: "*.py"
      run: ruff check --select I --fix {staged_files}
      stage_fixed: true
    biome-format:
      root: "frontend/"
      glob: "*.ts*"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

Remove flask
  bambu_spoolman/broker/command.py
  bambu_spoolman/broker/commands.py
  bambu_spoolman/broker/server.py
  bambu_spoolman/daemon.py
  bambu_spoolman/flask.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
  conf/nginx.conf
  pyproject.toml
  uv.lock
Due: ruff-imports

Shrink image size
  Dockerfile
  conf/supervisord.conf
  frontend/next.config.ts
  frontend/package.json
Due: biome-format

Correctly unregister serviceworker
  Dockerfile
  frontend/public/sw.js
Due: none

Update port in dockerfile
  docker-compose.yml
Due: none

fix: show fill of spool visually on home page
  frontend/components/AmsTray.tsx
Due: biome-format

Added cache backup path for P2S
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Implement eMMC to cache path fallback for model retrieval
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Refactor eMMC path handling in filament usage tracker
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Added support for p2s
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Pin Docker build tool versions and fix Windows CRLF/pnpm build issues
  .gitattributes
  Dockerfile
  frontend/pnpm-workspace.yaml
Due: none

Add dark mode toggle
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/SpoolChip.tsx
  frontend/components/ThemeToggle.tsx
Due: biome-format

Pin pnpm 10 for Docker frontend build
  Dockerfile
Due: none

add error handling page to keep theme
  frontend/app/error.tsx
Due: biome-format
