Repository mrkirby153/bambu-spoolman: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-imports, biome-format

lefthook.yml:

pre-commit:
  commands:
    ruff-imports:
      glob: "*.py"
      run: ruff check --select I --fix {staged_files}
      stage_fixed: true
    biome-format:
      root: "frontend/"
      glob: "*.ts*"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

response.raise_for_status() instead of if/else
  bambu_spoolman/spoolman.py
Due: ruff-imports

move SPOOLMAN_AMS_FIELD_NAME and SPOOLMAN_TRAY_FIELD_NAME
  bambu_spoolman/spoolman.py
Due: ruff-imports

Add support for h2 series uri scheme and ftp behavior (#6)
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/bambu_mqtt.py
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

use ams_mapping to validate ams really isnt being used
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

remove invalid logic
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

remove imports missing from 1921ff8
  bambu_spoolman/daemon.py
Due: ruff-imports

document ENV variables
  .env.example
  README.md
Due: none

use a logger for log output :)
  bambu_spoolman/routes/__init__.py
Due: ruff-imports

Some improvments and enhancements (#9)
  .env.example
  README.md
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/daemon.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

Don't call useDevices if not in a secure context
  frontend/src/components/models/SpoolChangeModel.tsx
Due: biome-format

Improve AMS usage detection (#10)
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Hide AMS configuration when no AMS is detected
  frontend/src/components/Configuration.tsx
Due: biome-format

Fix external spool only prints
  bambu_spoolman/broker/checkpoint.py
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Fix typo in .env.example
  .env.example
Due: none

Correctly handle unloads on H2C/H2D printers
  bambu_spoolman/gcode/parser.py
Due: ruff-imports

Run ruff
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/bambu_mqtt.py
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/broker/command.py
  bambu_spoolman/broker/commands.py
  bambu_spoolman/broker/filament_usage_tracker.py
  bambu_spoolman/daemon.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

Add gRPC types
  bambu_spoolman/daemon.py
  bambu_spoolman/grpc/.gitignore
  bambu_spoolman/grpc/server.py
  proto/bambu_spoolman/grpc/bambu_spoolman.proto
  proto/bambu_spoolman/grpc/spoolman.proto
  pyproject.toml
  scripts/update_protos.sh
  uv.lock
Due: ruff-imports

Add Spool Dropdown(Select) to Popup
  frontend/src/components/SpoolsSelect.tsx
  frontend/src/components/models/SpoolChangeModel.tsx
  frontend/src/hooks/Spools.ts
Due: biome-format

Fix getBackgroundColor - Dont use filament.color_hex when there ist filament.multi_color_*. Added Fallback Gradient
  frontend/src/components/AmsSpoolChip.tsx
Due: biome-format

Fix QRCode is now Case insensitiv
  frontend/src/components/models/SpoolChangeModel.tsx
Due: biome-format

Build out the rest of the gRPC requests
  Dockerfile
  bambu_spoolman/grpc/server.py
  bambu_spoolman/spoolman.py
  proto/bambu_spoolman/grpc/bambu_spoolman.proto
  proto/bambu_spoolman/grpc/spoolman.proto
Due: ruff-imports

Generate frontend protos
  frontend/lib/proto/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Wire up gRPC requests on the frontend
  frontend/app/page.tsx
  frontend/lib/grpc/index.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome-format

shadcn
  frontend/app/globals.css
  frontend/components.json
  frontend/lib/utils.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format

AMS Configuration
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/AmsComponent.tsx
  frontend/components/AmsTray.tsx
  frontend/components/SpoolChip.tsx
  frontend/lib/settings.ts
  frontend/lib/spool.ts
  frontend/lib/types.ts
  frontend/next.config.ts
Due: biome-format

Spool change page
  frontend/app/ams/[amsId]/tray/[trayId]/CurrentSpool.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/SpoolConfiguration.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/components/tray-config/SpoolRadioGroup.tsx
  frontend/components/tray-config/TrayConfigForm.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/breadcrumb.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/radio-group.tsx
  frontend/lib/settings.ts
  frontend/lib/spool.ts
Due: biome-format

Display % used
  frontend/app/ams/[amsId]/tray/[trayId]/CurrentSpool.tsx
  frontend/components/SpoolChip.tsx
  frontend/components/tray-config/SpoolRadioGroup.tsx
Due: biome-format

link to configuration page
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/components/AmsTray.tsx
Due: biome-format

Add a skeleton when loading
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/components/ui/skeleton.tsx
Due: biome-format

Set and clear spools
  bambu_spoolman/grpc/server.py
  frontend/app/ams/[amsId]/tray/[trayId]/ClearButton.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/CurrentSpool.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/SpoolConfiguration.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/actions.ts
  frontend/components/tray-config/TrayConfigForm.tsx
  frontend/components/tray-config/actions.ts
  frontend/components/ui/button.tsx
  frontend/eslint.config.mjs
  frontend/lib/settings.ts
Due: ruff-imports, biome-format

Better UX for selecting
  frontend/app/ams/[amsId]/tray/[trayId]/SpoolConfiguration.tsx
  frontend/components/tray-config/SpoolRadioGroup.tsx
  frontend/components/tray-config/TrayConfigForm.tsx
Due: biome-format

External spool
  frontend/app/ams/[amsId]/tray/[trayId]/ClearButton.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/SpoolConfiguration.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/app/external-spool/page.tsx
  frontend/app/page.tsx
  frontend/components/AmsComponent.tsx
  frontend/components/tray-config/CurrentSpool.tsx
  frontend/components/tray-config/actions.ts
  frontend/lib/client/settings.ts
  frontend/lib/settings.ts
Due: biome-format

Properly handle multiple AMS systems
  frontend/app/ams/[amsId]/tray/[trayId]/ClearButton.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/SpoolConfiguration.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/app/page.tsx
  frontend/components/tray-config/CurrentSpool.tsx
  frontend/lib/settings.ts
Due: biome-format

Add favicon and webmanifest
  frontend/app/favicon.ico
  frontend/app/manifest.ts
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/web-app-manifest-192x192.png
  frontend/public/web-app-manifest-512x512.png
  frontend/public/window.svg
Due: biome-format

Scan QR codes
  frontend/components/tray-config/TrayConfigForm.tsx
  frontend/lib/hooks/useCameraAvailable.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format

Searching
  frontend/components/tray-config/TrayConfigForm.tsx
  frontend/components/ui/input-group.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/textarea.tsx
Due: biome-format

Spool locking
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/grpc/server.py
  bambu_spoolman/spoolman.py
  frontend/app/ams/[amsId]/tray/[trayId]/RfidLinkButton.tsx
  frontend/app/ams/[amsId]/tray/[trayId]/actions.ts
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/components/tray-config/TrayConfigForm.tsx
  frontend/lib/features.ts
  frontend/lib/printer.ts
  frontend/lib/settings.ts
  frontend/lib/types.ts
  proto/bambu_spoolman/grpc/bambu_spoolman.proto
  proto/bambu_spoolman/grpc/spoolman.proto
Due: ruff-imports, biome-format

fix overflowing
  frontend/app/ams/[amsId]/tray/[trayId]/page.tsx
  frontend/components/tray-config/SpoolRadioGroup.tsx
Due: biome-format

Update dockerfile
  .dockerignore
  Dockerfile
  conf/supervisord.conf
  frontend/app/external-spool/page.tsx
  frontend/app/page.tsx
  frontend/package.json
Due: biome-format
