Repository mrkirby153/bambu-spoolman: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-imports, biome-format

lefthook.yml:

pre-commit:
  commands:
    ruff-imports:
      glob: "*.py"
      run: ruff check --select I --fix {staged_files}
      stage_fixed: true
    biome-format:
      root: "frontend/"
      glob: "*.ts*"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

Handle in progress prints
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/broker/filament_usage_tracker.py
  bambu_spoolman/debug/replay.py
Due: ruff-imports

Support changing the configuration directory
  bambu_spoolman/settings.py
Due: ruff-imports

Write a real readme
  README.md
Due: none

Fix error on missing trays
  bambu_spoolman/routes/__init__.py
Due: ruff-imports

Fix QR code scanning
  frontend/src/components/AmsConfiguration.tsx
  frontend/src/components/models/SpoolChangeModel.tsx
  frontend/src/stores/spoolChangeStore.ts
Due: biome-format

Add external spool support
  bambu_spoolman/broker/filament_usage_tracker.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/settings.py
  bambu_spoolman/spoolman.py
  frontend/src/components/AmsConfiguration.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Configuration.tsx
  frontend/src/components/ExternalSpoolConfiguration.tsx
  frontend/src/components/models/SpoolChangeModel.tsx
Due: ruff-imports, biome-format

Fix incorrectly marking print as finished when doing back to back prints
  bambu_spoolman/broker/filament_usage_tracker.py
  bambu_spoolman/gcode/parser.py
Due: ruff-imports

Backoff on failed connections
  bambu_spoolman/bambu_mqtt.py
Due: ruff-imports

Improve reliability
  bambu_spoolman/bambu_mqtt.py
Due: ruff-imports

Disable urllib warnings
  bambu_spoolman/spoolman.py
Due: ruff-imports

Handle powerloss
  bambu_spoolman/broker/checkpoint.py
  bambu_spoolman/broker/filament_usage_tracker.py
  bambu_spoolman/settings.py
Due: ruff-imports

Provide a default configuration if none is set. Fixes #1
  bambu_spoolman/settings.py
Due: ruff-imports

Add github actions workflows
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Publish ARM image
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Support offline prints via FTP
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

Spend all layers that weren't spent on completion
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

PWA support
  frontend/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/index.tsx
  frontend/vite.config.ts
Due: biome-format

Remove debug text
  frontend/src/components/index.tsx
Due: biome-format

Use cva
  .vscode/settings.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AmsConfiguration.module.css
  frontend/src/components/AmsConfiguration.tsx
  frontend/src/components/AmsSpoolChip.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/models/SpoolChangeModel.tsx
Due: biome-format

Support automatic tray switching
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/broker/commands.py
  bambu_spoolman/daemon.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
  frontend/src/components/AmsConfiguration.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/PrinterStatus.tsx
  frontend/src/components/models/SpoolChangeModel.tsx
  frontend/src/hooks/status.ts
  frontend/src/hooks/useSettings.ts
Due: ruff-imports, biome-format

Clear locked trays if disabled
  bambu_spoolman/settings.py
Due: ruff-imports

Fix docker builds
  frontend/src/components/ExternalSpoolConfiguration.tsx
Due: biome-format

poetry -> uv
  .Dockerignore
  .dockerignore
  Dockerfile
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Properly handle locked spools
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/settings.py
  dev/docker-compose.yaml
  frontend/src/components/models/SpoolChangeModel.tsx
  frontend/src/hooks/status.ts
Due: ruff-imports, biome-format

Add docker compose and quickstart
  .env.example
  README.md
  docker-compose.yml
Due: none

add support for h2 series uri scheme and ftp behavior
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

add fix for bogus URIs when printing from the printer display or USB storage
  bambu_spoolman/bambu_ftp.py
Due: ruff-imports

Observed on P2S, with latest firmware: 3mf file URL is something like brtc://emmc/file.3mf
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

update the tray field in spoolman if configured
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

some improvements for filament selection and tray detection
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

retry opon startup
  bambu_spoolman/daemon.py
Due: ruff-imports

preserve the original material
  bambu_spoolman/spoolman.py
Due: ruff-imports

fix ams index
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
Due: ruff-imports

replace deprecated API
  bambu_spoolman/bambu_mqtt.py
Due: ruff-imports

refactor URI, path, and prefix handling
  bambu_spoolman/bambu_ftp.py
  bambu_spoolman/broker/filament_usage_tracker.py
Due: ruff-imports

do not wait, this was a terrible idea to begin with
  bambu_spoolman/daemon.py
Due: ruff-imports

make use of response.raise_for_status() and refactor some logic
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

store ams and tray index in different spoolman fields
  bambu_spoolman/broker/automatic_spool_switch.py
  bambu_spoolman/routes/__init__.py
  bambu_spoolman/spoolman.py
Due: ruff-imports

handle multi color filaments
  bambu_spoolman/spoolman.py
Due: ruff-imports

multi color handling
  bambu_spoolman/spoolman.py
Due: ruff-imports
